@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");

.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #7ee8fa, #eec0c6);
  font-family: "Poppins", sans-serif;
}
.card {
  text-align: center;
  background: linear-gradient(to right, #009ffd, #2a2a72);
  color: white;
  text-shadow: 1px 1px 1px black;
  padding: 3rem;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h2 {
  margin: 0;
}

h1 {
  border-bottom: 1px solid white;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
